name: Release Drafter
on:
  push:
    branches: [main]

permissions:
  contents: read
  pull-requests: read

jobs:
  update_release_draft:
    permissions:
      contents: write  # release作成権限
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5
        with:
          publish: true # 自動公開 (これをfalseにすると下書き保存になる)
        env:
          GITHUB_TOKEN: ${{ secrets.ORG_ADMIN_TOKEN }}